extends admin_layout
block pageHeader
	div.pageHeader GEE Slices
block content
	table(border=1)
		tr
			th Slice
			th Allocated
			th File
			th Expires
			th Status
		each slice, i in slices
			tr
				td #{slice.name}
				td #{slice.allocated}
				td #{slice.file}
				td #{slice.expiry_date}
				td #{slice.status}
