extends admin_layout
block pageHeader
	div.pageHeader GEE Nodes
block content
	table(border=1)
		tr
			th Site
			th Node Name
			th IP Address
			th SSH Nickname
			th created
		each node, i in nodes
			tr
				td #{node.siteName}
				td #{node.dnsName}
				td #{node.ipAddress}
				td #{node.sshNickname}
				td #{node.date_added}
