extends layout
block content
	center
		h1 User #{user} Not A GEE Admin
	p Sorry, #{user}, you have requested a page only visible to GEE Administrators.
	p If you are interested in becoming a GEE Administrator, please use this form to contact us.
	em Be warned: sign up for this and we're going to ask you to do some work.
	- var subject="Please add " + user + " as a GEE Administrator";
	center
		form(method="get", action="mailto:rick.mcgeer@us-ignite.org, acb@cs.princeton.edu")
			table
				tr
					td Name
					td: input(type="text", name="name", value="Your Name", size=30)
				tr
					td Email
					td: input(type="text", name="mail", value="#{user}", readonly, size=20)
				tr
					td Subject
					td: input(type="text", name="subject", value=subject, readonly, size=subject.length + 3)
				tr
					td Additional Comments
					td: textarea(name="body", rows=4, cols=50)
				tr
					td(colspan=2, style="text-align:center")
						button(type="submit") Submit
