extends admin_layout
block pageHeader
	div.pageHeader GEE User Requests
block content
	form(method="post", action="/admin/users/requests/add")
		table(border=1)
			tr
				th Name
				th Email
				th Request Date
				th Comments
				th Confirm?
				th Delete Request (Automatically deleted on confirmation)
			each user, i in request_list
				tr
					td #{user.name}
					td #{user.email}
					td #{user.created}
					td #{user.comments}
					td
						input(type="checkbox", value=user.email, name="confirm", checked)
					td
						input(type="checkbox", value=user.email, name="to_delete", checked)
		br
		button(type="submit") Update