extends admin_layout
block pageHeader
	div.pageHeader PlanetIgnite Slices
block content
	table(border=1)
		tr
			th Slice
			th Allocated
			th File
			th Expires
			th Status
			th Ports
		each slice, i in slices
			tr
				td #{slice.name}
				td #{slice.allocated}
				td #{slice.file}
				td #{slice.expiry_date}
				td #{slice.status}
				td #{slice.ports}
