extends layout
block content
		div.pageHeader Dashboard for User #{user}
		div User #{user} logged in, currently has slicelet #{slice}, which expires on #{date}.
		div
			a.pageOptions(href='/free_slicelet') Free Slicelet #{slice}
			a.pageOptions(href='/renew_slicelet') Renew Slicelet #{slice}
			a.pageOptions(href='/download') Download Slicelet File
			if admin
				a.pageOptions(href='/admin') Admin Console
